snippet sss
	\\subsubsection{$1}$0

snippet bb
	\\item\textbf{$1}$0
snippet verse
	\\begin{verse}
	$1
	\\end{verse}
	$0


snippet box
	\begin{mdframed}[style=dottedbox]

snippet endbox
	\end{mdframed}
